body { 
    font-family: "Alexandria", sans-serif;
    color: white; 
    margin: 0; 
    padding: 0;
    background-color: black;
}

nav{
    background-color: #d21888;
    margin-bottom: 20px;
}

.navbar-brand, .nav-item, .nav-item.nav-link.active {
    color: #FFFFFF;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 1rem;
    background-color: #ba0e75;
    color: white;
}

footer p{
    margin: 0;
}