body { 
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    padding: 0;
    /* background-color: #f3f4f6; Soft light grey */
    background-color: black;
    color: #FFFFFF;
    /* color: #333; */
}

nav{
    background-color: #A77799;
}


/* .navbar-brand, .nav-item, .nav-link.active {
    color: #1DB954;
} */

.navbar-brand, .nav-item, .nav-item.nav-link.active {
    color: #FFFFFF;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #191414;
    color: #1DB954;
    margin-top: 2rem;
}