body { 
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    padding: 0;
    background-color: #f3f4f6; /* Soft light grey*/
    /* color: #FFFFFF; */
    /* color: #333; */
}

nav{
    background-color: #A77799;
    margin-bottom: 20px;
}

.navbar-brand, .nav-item, .nav-item.nav-link.active {
    color: #FFFFFF;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #A77799;
    color: #FFFFFF;
    margin-top: 2rem;
}