body { 
    font-family: "Alexandria", sans-serif;
    color: white; 
    margin: 0; 
    padding: 0;
    background-color: black;
}

nav{
    background-color: #dc478a;
    margin-bottom: 20px;
}

.navbar-brand, .nav-item, .nav-item.nav-link.active {
    color: #FFFFFF;
}

.btn{
    background-color: #dc478a;
    color: white;
}

.btn:hover{
    background-color: #dc478a;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
    /* background-color: #dc478a; */
    color: white;
    font-size: 13px;
    color: #ffb6d5;
}

footer p{
    margin: 0;
}