.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    color: white;
}

#weather_images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.weather-icon {
    margin: 0 50px;
}

.weather-icon img {
    width: 100px; /* Adjust icon size */
    /* height: 50px; */
}

.sync-button {
    background-color: #00b76c;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.sync-button:hover {
    background-color: #00b76c;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}